[user]
    email = varady.akos@gmail.com
    name = varaki
[credential]
    helper = store
[core]
    editor = nvim
[alias]
    co = checkout
    br = branch
    bra = branch -avv
    ci = commit
    st = status
